# Core functionality - changes here should be rare!
/src/app.py                   @sumedha-io
/src/backend/database.py      @sumedha-io
/src/backend/routers/auth.py  @sumedha-io

# The frontend will need refactored soon to be more object oriented.
/src/static/   @sumedha-io
